.playground{
	width:1500px; 
	margin:0 auto;
	margin-top: 50px;
	outline: 3px solid black;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
}


.gameplay{
	padding-left: 500px;
}

.cbid{
	padding-left: 150px;
}